src/Flow.json
[{"id":"511122d2.73295c","type":"tab","label":"HowTo Notifier API","disabled":false,"info":""},{"id":"29ca6c1c.e0cb74","type":"comment","z":"511122d2.73295c","name":"GET all notifications","info":"","x":210,"y":60,"wires":[]},{"id":"8d69f08e.e809a","type":"comment","z":"511122d2.73295c","name":"POST raise notification","info":"","x":220,"y":940,"wires":[]},{"id":"d367ad7b.5aee1","type":"http request","z":"511122d2.73295c","name":"POST raise notification","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/ext/raise","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":1000,"wires":[["ab2b65ea.9f02e8"]]},{"id":"ab2b65ea.9f02e8","type":"debug","z":"511122d2.73295c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1000,"wires":[]},{"id":"368bc29e.57e03e","type":"inject","z":"511122d2.73295c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1000,"wires":[["b5685a51.dbff98"]]},{"id":"b5685a51.dbff98","type":"function","z":"511122d2.73295c","name":"set request body","func":"msg.payload = {}\n\nmsg.payload={\n  'notificationTypeId': '3',\n  'eventText': 'INFO from Flow Creator',\n  'assetId': '549c3daa33cd4628b02c2e2745f54d80',\n  'notificationSource': 'FlowCreator'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1000,"wires":[["d367ad7b.5aee1"]]},{"id":"4670538b.e0a4dc","type":"comment","z":"511122d2.73295c","name":"PUT clear notification","info":"","x":220,"y":780,"wires":[]},{"id":"fa4a96a5.a45af8","type":"comment","z":"511122d2.73295c","name":"GET one notification","info":"","x":210,"y":340,"wires":[]},{"id":"c83b5513.f30db8","type":"inject","z":"511122d2.73295c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":400,"wires":[["86422968.e1a578"]]},{"id":"86422968.e1a578","type":"function","z":"511122d2.73295c","name":"set params","func":"msg.notificationId = {}\nmsg.notificationSource = {}\nmsg.notificationId = \"14\";\nmsg.notificationSource = \"KPI calculation app\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":400,"wires":[["1b40d0ab.57d6bf"]]},{"id":"1b40d0ab.57d6bf","type":"http request","z":"511122d2.73295c","name":"GET one notification","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/ext/active/{{{notificationId}}}?notificationSource={{{notificationSource}}}","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":400,"wires":[["8a9f442f.b14788"]]},{"id":"8a9f442f.b14788","type":"debug","z":"511122d2.73295c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"a4175e6b.ecece","type":"comment","z":"511122d2.73295c","name":"GET one notifications (old API)","info":"","x":250,"y":460,"wires":[]},{"id":"207b2cfa.59e114","type":"comment","z":"511122d2.73295c","name":"PUT accept notification","info":"","x":220,"y":620,"wires":[]},{"id":"d32752e6.6ae58","type":"http request","z":"511122d2.73295c","name":"PUT accept notification","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/{{{notificationId}}}/ext/accept?userId={{{userId}}}&notificationSource={{{notificationSource}}}","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":680,"wires":[["8bfc64f1.b4ca78"]]},{"id":"8bfc64f1.b4ca78","type":"debug","z":"511122d2.73295c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":680,"wires":[]},{"id":"b5c0e5da.823e18","type":"function","z":"511122d2.73295c","name":"set params","func":"msg.notificationId = {}\nmsg.userId = {}\nmsg.notificationSource = {}\n\nmsg.notificationId = \"14\";\nmsg.userId = \"test@siemens.com\"\nmsg.notificationSource = \"KPI calculation app\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":680,"wires":[["d32752e6.6ae58"]]},{"id":"1dc09848.da4c18","type":"inject","z":"511122d2.73295c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":680,"wires":[["b5c0e5da.823e18"]]},{"id":"8bee84a3.6ba708","type":"http request","z":"511122d2.73295c","name":"GET all notifications","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":240,"wires":[["61823964.a89cc8"]]},{"id":"61823964.a89cc8","type":"debug","z":"511122d2.73295c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"ef1e85f7.d3c008","type":"inject","z":"511122d2.73295c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":240,"wires":[["8bee84a3.6ba708"]]},{"id":"e399404a.b7fc4","type":"comment","z":"511122d2.73295c","name":"GET all notifications (old API)","info":"","x":240,"y":180,"wires":[]},{"id":"c5e70af4.db59c8","type":"function","z":"511122d2.73295c","name":"set params","func":"msg.notificationSource = {}\nmsg.notificationSource = \"KPI calculation app\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":120,"wires":[["65abcf16.97a25"]]},{"id":"47e11c9f.d8b734","type":"inject","z":"511122d2.73295c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":120,"wires":[["c5e70af4.db59c8"]]},{"id":"65abcf16.97a25","type":"http request","z":"511122d2.73295c","name":"GET all notifications","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/ext/active?notificationSource={{{notificationSource}}}","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":120,"wires":[["78f29d81.a9d774"]]},{"id":"78f29d81.a9d774","type":"debug","z":"511122d2.73295c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"15967fd2.5614b","type":"inject","z":"511122d2.73295c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":520,"wires":[["3acc806c.82eaa"]]},{"id":"3acc806c.82eaa","type":"function","z":"511122d2.73295c","name":"set params","func":"msg.notificationId = {}\nmsg.notificationId = \"14\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":520,"wires":[["3dbf059.fe548fa"]]},{"id":"3dbf059.fe548fa","type":"http request","z":"511122d2.73295c","name":"GET one notification","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/{{{notificationId}}}","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":520,"wires":[["b5ff3f1a.1aa8"]]},{"id":"b5ff3f1a.1aa8","type":"debug","z":"511122d2.73295c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":520,"wires":[]},{"id":"a5feb0cc.69a3b","type":"http request","z":"511122d2.73295c","name":"PUT clear notification","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/{{{notificationId}}}/ext/clear","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":840,"wires":[["50985c90.df1c34"]]},{"id":"50985c90.df1c34","type":"debug","z":"511122d2.73295c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":840,"wires":[]},{"id":"14187b1.ce26c85","type":"function","z":"511122d2.73295c","name":"set params","func":"msg.notificationId = {}\nmsg.notificationId = \"14\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":840,"wires":[["a5feb0cc.69a3b"]]},{"id":"3095e38.2ba741c","type":"inject","z":"511122d2.73295c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":840,"wires":[["14187b1.ce26c85"]]}]